<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <!--<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">-->
<Enabled>true</Enabled>

    <!--获取 更新的地址-->

    <ServerUrl>http://update.iyond.com/updateservice.xml</ServerUrl>

    <UpdateFileList>
      <LocalFile path="../dll/EcdLogin2012.dll" lastver="1.0.0.0" size="24576" />
    </UpdateFileList>
  <!-- </Config>-->

</configuration>